Flask==0.10.0
Flask-WTF==0.12
WTForms==2.1
pytz
cryptography
keystoneauth1
python-barbicanclient
oslo.context
castellan
packaging>=16.8
werkzeug>=3.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
