<!DOCTYPE html>
<html>
<head>
	<title>Hide Yo Tweets</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="/static/stylesheets/style.css" />
</head>
<body>
	<table>
		<tr>
			<!-- TODO: Insert image here <td style='width: 50%;'><img class = 'newappIcon' src=''>-->
			</td>
			<td>
				<h1 id="message">Hide Yo Tweets</h1>
        {% block content %}
          <form action="" method="post" name="login">
              {{ form.hidden_tag() }}
              <p>
                  Enter a tweet:
                  {{ form.tweet_text(size=15) }}<br>
									{% for error in form.tweet_text.errors %}
            					<span style="color: red;">[{{ error }}]</span>
									{% endfor %}
									<input type="submit" name="submit" value="submit">
              </p>
          </form>
        {% endblock %}
        <p>
					<font size="2">Note: Tweet must be less than 16 chars.</font>
        </p>
			</td>
		</tr>
	</table>
</body>
</html>
