<!DOCTYPE html>
<html>
<head>
	<title>Hide Yo Kids, Hide Yo Tweets</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="/static/stylesheets/style.css" />
</head>
<body>
	<table>
		<tr>
			<td style='width: 50%;'><img class = 'newappIcon' src='/static/images/2.jpg'>
			</td>
			<td>
				<h1 id="message">Error: You must be feeling like left shark!</h1>
        <p> Most likely:
          <li>You are encrypting with the wrong key.</li>
          <li>You can't decrypt the info with the key being used.</li>
			</td>
		</tr>
	</table>
</body>
</html>
